<!-- Login form -->
<div class="row">
	<div class="col-md-6">
		<label>Username: </label>
		<input class="form-control" type="text" [(ngModel)]="username" name="username">
		<br>
		<button class="btn btn-default" (click)="setUsername()">Submit</button>
	</div>
</div>

<h1>SocketChat</h1>
<div *ngIf="username">
	<!-- Message input -->
	<input class="form-control" type="text" placeholder="Enter Message..." [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()">
	<br>

	<!-- Display messages -->
	<div *ngFor="let message of messages">
		<div class="well"><strong>{{message.username}}: </strong> {{message.text}}</div>
	</div>
</div>

<!-- If not logged in -->
<div class="text-center" *ngIf="!username">
	Please Log In To Chat
</div>
